<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.payment.mapper.PaymentMapper">

    <insert id="save" parameterType="PaymentDTO" useGeneratedKeys="true" keyProperty="paymentId">
        INSERT INTO PAYMENTS (reservation_id, user_id, order_id, payment_key, amount, pay_status, approved_at, ins_id, ins_ip)
        VALUES (#{reservationId}, #{userId}, #{orderId}, #{paymentKey}, #{amount}, #{payStatus}, #{approvedAt}, #{insId}, #{insIp})
    </insert>

</mapper>
